body {
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 10px;
    background-color: white;
    border-radius: 6px;
    padding-top: none;
    padding-right: 80px;
    padding-bottom: 40px;
    border-radius: 10px;
    border: 4px solid #32cd32;
}

.hero-unit h1 {
    font-size: 60px;
    text-align: center;
    line-height: 1;
    letter-spacing: -1px;
    padding-top: none;
    margin-top: none;
    margin-bottom: 60px;
    font-family: impact;
}

button {
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: #32cd32;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: arial;
    border: 2px solid black;
}


.subject {
    color: #32cd32;
}
.subject a {
    text-decoration: none;
    color: white;
}

.subject a:hover {
    color: #32cd32;
}

.subject a:visited {
    color: grey;
}



